:root {
  --main-bg-color: rgb(13, 37, 63);
  --text-color: #fff;
  --text-header-color: rgb(13, 37, 63);

  --text-loader-color: rgb(144, 206, 161);

  --btn-bg-color: rgb(245, 197, 24);
  --btn-text-color: rgb(1, 180, 228);

  --btn-chose-movies-bg-color: rgb(245, 197, 24);
  --btn-chose-movies-text-color: rgb(13, 37, 63);

  --card-bg-color: rgb(1, 180, 228);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg {
  margin: 15px;
}

a {
  color: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: rgb(1, 180, 228);
    --text-footer-color: rgb(1, 180, 228);
    --text-header-color: rgb(13, 37, 63);

    --btn-chose-movies-bg-color: rgb(144, 206, 161);
    --btn-chose-movies-text-color: rgb(13, 37, 63);
    --text-loader-color: rgb(144, 206, 161);

    --card-bg-color: rgb(13, 37, 63);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #031d32;
    --text-color: rgb(1, 180, 228);
    --text-footer-color: rgb(1, 180, 228);
    --text-header-color: rgb(13, 37, 63);

    --btn-chose-movies-bg-color: rgb(144, 206, 161);
    --btn-chose-movies-text-color: rgb(13, 37, 63);
    --text-loader-color: rgb(245, 197, 24);

    --card-bg-color: #454a62;
  }
}
